body {
    margin-top: 72px;
    background-color: rgb(245, 245, 245);
}

/* search bar css */

.search-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.input {
    font-size: 1rem;
}

.user-cards {
    display: grid;
    grid-template-columns: repeat(auto-Fill, minMax(150px, 1fr));
    gap: 0.25rem;
    margin-top: 1rem;
}

.card {
    border: 1px solid black;
    background-color: white;
    padding: 0.5rem;
}

.card > .header {
font-size: 0.8rem;
color: #777;
}

.hide {
    display: none;    
}


.switch-buttons {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  
  .switch-buttons button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  

  .releases-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .release-card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    height: 300px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .release-card h3 {
    font-size: 18px;
    margin: 0;
  }
  
  .release-card p {
    margin: 10px 0;
    color: #666;
  }